stages:
  - build
  - deploy

image: docker/compose:1.29.2

variables:
  IMAGE: ${CI_REGISTRY_IMAGE}:${CI_PIPELINE_ID}
  APP_PROD_IMAGE: ${CI_REGISTRY_IMAGE}/prod:${CI_PIPELINE_ID}
  GIT_SUBMODULE_STRATEGY: recursive

.tags: &tags
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  after_script:
    - docker logout $CI_REGISTRY

build:
  <<: *tags
  stage: build
  tags:
    - dhs-endpoints-01
  script:
    - docker build -f Dockerfile.cloud -t ${APP_PROD_IMAGE} .
    - docker push ${APP_PROD_IMAGE}
  rules:
    - if: '$CI_COMMIT_BRANCH == "feature/build_blend"'

deploy master:
  <<: *tags
  stage: deploy
  tags:
    - crp-instance-prod04
  script:
    - docker rm -f ${CI_PROJECT_NAME}-prod || true
    - docker run -p 7011:7011 -d --name ${CI_PROJECT_NAME}-prod --restart=always --gpus all -v /opt/2d-render/checkpoints:/app/weights/checkpoints -v /opt/2d-render/upernet-convnext-tiny:/app/weights/upernet-convnext-tiny -v /opt/2d-render/BiRefNet-portrait:/app/weights/BiRefNet-portrait -v /opt/2d-render/assets:/app/assets -v /opt/2d-render/cache:/app/cache --env-file ${ENV_TEST} --user 10001:10001 -v /opt/2d-render/tmp/pyxbld:/.pyxbld -v /opt/2d-render/tmp/cache:/.cache -v /opt/2d-render/tmp/data:/rtc_mediaserver/offline_data --network host ${APP_PROD_IMAGE}
  rules:
    - if: '$CI_COMMIT_BRANCH == "feature/build_blend"'
      when: manual